* {
  box-sizing: birder-box;
  margin: 0;
  padding: 0px;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  background: rgb(182, 235, 206);
  color: rgb(33, 33, 88);
  line-height: 1.5;
  margin-bottom: 50px;
}

section {
  display: inline-grid;
  margin: 0 auto;
  padding: 0 5%;
}

div,
h2 {
  display: grid;
  padding: 5px;
}

label,
p {
  font-weight: bold;
}

input,
button {
  border: 2px solid;
  border-radius: 6px;
  padding: 10px;
  font-weight: bold;
  justify-self: center;
}

img {
  width: 100px;
  justify-self: center;
  padding: 5px;
}
